*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BA867B;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    margin: 0 auto;
    border-radius: 5px;   
    padding-left: 10px;
    padding-top: 10px;
}
.button{
    width: 80px;
    border-radius: 20%;
    font-size: large;
}
.button2{
   margin-left: 60px;
}
.content{
    font-size: larger;
}
.Result{
    font-size: x-large;
}
.heading{
    text-align: center;
}
input{
    height: 20px;
    font-size: medium;
    margin-bottom: 5px;
}